div {
    border: 2px red;
}

h1, h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    text-decoration: underline;
}

p {
    font-family: 'Eagle Lake', cursive;
}

.characters-container {
    position: relative;
}

.characters-header-div {
    height: 10vh;
}

.characters-scroll-container {
    display: flex;
    overflow-x: auto;
}

.character-card {
    flex: 0 0 auto; /* Do not grow or shrink, but allow basis to change */
    margin-right: 15px;
    width: 200px; /* Set a width */
    height: 300px; /* Set a height */
    border: 1px solid black; /* Add a border to visually see the card */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.backstory {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; /* or custom width */
    height: 100%;
    background: white;
    /* additional styling */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.backstory.open {
    transform: translateX(0);
}
